{% extends "base.html" %}
{% block content %}
    <body>
    <div id="overlay" ng-show="showDialog">
        <div ng-show="!resultsLoading">
            <p class="phrase">{% raw %}You can better than this{% endraw %}</p>

            <p class="ad">If you like my service and want to support me, I would be glad if you donate some money using the link below. I will use it to work even harder on this project and also to maintain it. </p>
            <a href="https://www.paypal.me/khalimov">Support!</a>
            <p class="score">Your score: {% raw %}10/10
                !{% endraw %}</p>
            <button class="btn btn-success" ng-click="formCtrl.closeDialog()">Got it!</button>
        </div>
        <div ng-show="resultsLoading">
            <img ng-src="static/images/loading.gif">

        </div>
    </div>
    </body>
{% endblock %}